<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dove.readandroid">
    <!-- 8.0手机安装软件 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 允许装载和卸载文件系统权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".ui.WebViewActivity"></activity>
        <activity android:name=".ui.me.WangjiPassActivity" />
        <activity android:name=".ui.me.ReadHsitoryActivity" />
        <activity android:name=".ui.ReadActivity" />
        <activity android:name=".ui.shucheng.FenleiDetailActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.BookDetailActivity" />
        <activity android:name=".ui.me.SettingActivity" />
        <activity android:name=".ui.me.AlterPasswordActivity" />
        <activity android:name=".ui.me.EditUserActivity" />
        <activity
            android:name=".ui.shujia.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.shujia.RegisterActivity" />
        <activity android:name=".ui.shujia.LoginActivity" />
        <activity
            android:name="com.dove.imuguang.ui.start.SpalashActivity"
            android:theme="@style/SpalashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>